@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* animation-timeline: view(): Se ejecuta al ser visto */
/* animation-range: entry 0: termina cuando entra a la pantalla */
.certified-animation {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}


.certified-glow {
    background-color: #174a9c0c;
    box-shadow: 0px 0px 30px 10px rgba(23, 74, 156, 0.6), 
                0px 0px 60px 30px rgba(23, 74, 156, 0.3) inset;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(23, 74, 156, 0.6), 
                       0px 0px 60px 30px rgba(23, 74, 156, 0.3) inset;
    -moz-box-shadow: 0px 0px 30px 10px rgba(23, 74, 156, 0.6), 
                    0px 0px 60px 30px rgba(23, 74, 156, 0.3) inset;
}