.menu {
    background: rgba(0,0,0,.8);
}

/* ----------------------- LINEA ----------------------- */

.scroll-watcher {
  z-index: 1000;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  transform-origin: left;
  border: 1px solid #fff;
}

@keyframes scroll-watcher {
  from { scale: 1 1;  }
  to { scale: 0 1; }
}

/* ----------------------- LINEA ----------------------- */


/* ----------------------- SWITCH ----------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #517fff;
    transition: background-color 0.4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  input:checked + .slider {
    background-color: #ff5168;
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .flag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    transition: opacity 0.4s;
  }
  
  .flag img {
    width: 20px;
    height: 20px;
  }
  
  .es {
    left: 0;
  }
  
  .en {
    right: 0;
    opacity: 0; /* Hide the US flag initially */
  }
  
  input:checked + .slider .en {
    opacity: 1; /* Show the US flag when checked */
  }
  
  input:checked + .slider .es {
    opacity: 0; /* Hide the Argentina flag when checked */
  }
/* ----------------------- SWITCH ----------------------- */
  