@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37 32 32);
  color: #fff;
  font-family: 'CY grotesk key', sans-serif;
  font-weight: light;
	height: 100%;

  /* Animación de fondo */
  background: linear-gradient(-45deg, #1a1a2e, #16213e, #0f3460, #53354a);
  background-size: 400% 400%;
  animation: gradient 2.5s ease infinite;
  /* Animación de fondo */
}

body {
  /* Animación de fondo */
  background: linear-gradient(-45deg, #1a1a2e, #16213e, #0f3460, #53354a);
	background-size: 400% 400%;
	animation: gradient 2.5s ease infinite;
  /* Animación de fondo */
}

/* @layer components {
  .menu-item {
    @apply ;
  }
} */

/* Animación de fondo */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  /* Animación de fondo */
}