@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37 32 32);
  color: #fff;
}

/* @layer components {
  .menu-item {
    @apply ;
  }
} */
