@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* animation-timeline: view(): Se ejecuta al ser visto */
/* animation-range: entry 0: termina cuando entra a la pantalla */
.photo-face {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
